body {
    background-color: #4e555b;
}
h1 {
    text-align: center;
    color: blue;
}
legend {
    color: #cce5ff;
    font-style: unset;

}

label {
    color: #7abaff;
    font-style: oblique;
    font-weight: bolder;
}
.lead {
    text-align: center;
}
.choose {
    color: #20c997;
}
